<script>
  gtag('event', 'about', {
    'event_category': 'access',
    'event_label': 'git'
  });
</script>
<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">저는 <span id="js-rotating">일본, 후쿠오카, 은행</span> 근무하고 있는 개발자입니다.</h4>
  </div>
  <div class="user-content">
    <p>
      저는 일본 후쿠오카에 있는 은행에서 근무하고 있는 1년차 신입 개발자입니다.
    </p>
    <p>
      네이버 블로그 : https://blog.naver.com/dmsghk6049
    </p>
  </div>
</div>