{% assign sorted_repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse  %}
<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
</script>
<div class="col s12 switch">
  <label>
    Show forked projects
    <input class="fork-switch" type="checkbox" checked="1" onchange="toggleForked()">
    <span class="lever"></span>
  </label>
</div>
{% for repo in sorted_repos %}
<!-- <img src="http://www.google-analytics.com/collect?v=1&t=event&tid=UA-144833696-2&cid=test&dh=https%3A%2F%2Fgithub.com%2Feunhwa0430%2Fblog&dp=blog&ec=testing&ea=test"> -->
<div class="col s12 m6 l4" {% if repo.fork %}id="forked"{% endif %}>
  <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light geopattern activator" data-pattern-id="{{repo.name}}">
      <i class="material-icons waves-effect waves-block waves-light">more_vert</i>
      <a id="repo_ga" class="card-title center-align valign-wrapper" href="{{repo.html_url}}" target="_blank">{{repo.name}}</a>
    </div>
    <div class="card-content valign-wrapper center-align activator">
      <span class="activator grey-text text-darken-1">{{repo.description}}</span>
    </div>
    <div class="card-reveal">
      <div class="card-reveal-content">
        <span class="card-title grey-text text-darken-4">Statistics<i class="material-icons right">close</i></span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{repo.stargazers_count}} stars">
          <i class="material-icons">star</i>
          {{repo.stargazers_count}}
        </span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{repo.forks_count}} forks">
          <i class="material-icons">call_split</i>
          {{repo.forks_count}}
        </span>
        <span class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="Last updated：{{repo.updated_at}}">
          <i class="material-icons">access_time</i>
          <time datetime="{{repo.updated_at}}" title="{{repo.updated_at}}">{{repo.updated_at | date: '%Y-%m-%d'}}</time>
        </span>
      </div>
    </div>
  </div>
  <script>
    var settings = {
      'async': true,
      'crossDomain': true,
      'url': 'https://www.google-analytics.com/collect',
      'method': 'POST',
      'data': 'v=1&t=event&tid=UA-144833696-2&cid=test&dh=https%3A%2F%2Fgithub.com%2Feunhwa0430%2Fblog&dp=blog&ec=testing&ea=ajax'
    }
    $(function() {
      $('#repo_ga').on('click', function(){
        $.ajax(settings).done(function(res) {
          console.log(res)
        })
      })
    })
  </script>
  <!-- <script>
    let arr = document.querySelectorAll('#repo_ga')
    arr.forEach(el=>{
      el.addEventListener('click', (evt)=>{
        evt.preventDefault()
        var url = el.getAttribute('href')
        gtag('event', 'project', {
          'event_category': 'access',
          'event_label': 'git'
        })
        setTimeout(() => {
          window.location.replace(url)
        }, 1000);
      })
    })

  </script> -->
</div>
{% endfor %}